################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaseApplication/obj/Debug/net8.0/BaseApplication.AssemblyInfo.cs
/BaseApplication/obj/Debug/net8.0/BaseApplication.AssemblyInfoInputs.cache
/BaseApplication/obj/Debug/net8.0/BaseApplication.assets.cache
/BaseApplication/obj/Debug/net8.0/BaseApplication.csproj.AssemblyReference.cache
/BaseApplication/obj/Debug/net8.0/BaseApplication.GeneratedMSBuildEditorConfig.editorconfig
/BaseApplication/obj/Debug/net8.0/project.razor.vs.bin
/BaseApplication/obj/BaseApplication.csproj.nuget.dgspec.json
/BaseApplication/obj/BaseApplication.csproj.nuget.g.props
/BaseApplication/obj/project.assets.json
/BaseApplication/obj/project.nuget.cache
/.vs/TridentTeam/v17/.wsuo
/.vs/VSWorkspaceState.json
/BaseApplication/.vs/BaseApplication/FileContentIndex/010b7722-47c4-4a1f-b363-fbb543e36bee.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/01446dd7-8c3d-437b-b841-4fa1467e1164.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/068e974b-04ac-48fc-8d62-41825e4fa133.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/0895723a-8b3c-4328-8c23-77cd5951ca56.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/18fd764c-4b93-4fc4-85bc-f6f163b11da6.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/2b3a8e2e-69ee-452e-a405-383aaa70ce9e.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/2d0cf36e-3144-4504-a0de-0fff07834825.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/37c66454-2136-496b-afba-956a96e9682c.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/605112f0-218c-41d4-8aec-16b77ab6c2fd.vsidx
/BaseApplication/.vs/BaseApplication/FileContentIndex/eb03e81b-815c-4881-9488-b64afc7c8d7e.vsidx
/BaseApplication/.vs/BaseApplication/DesignTimeBuild/.dtbcache.v2
/BaseApplication/.vs/BaseApplication/v17/.suo
/BaseApplication/.vs/BaseApplication/v17/.futdcache.v2
/BaseApplication/.vs/ProjectEvaluation/baseapplication.metadata.v7.bin
/BaseApplication/.vs/ProjectEvaluation/baseapplication.projects.v7.bin
