
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ContactUs</h1>
<div class="text">
    <h2>Team Trident</h2>
    <p style="color: #000000;">
        23242 Kingsplace Drive<br>
        Katy, TX 77494
    </p>
    <p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3463.226050859238!2d-95.77721438489131!3d29.771104481982572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864126d91a520371%3A0x5c85abcfc83ddce2!2s23242%20Kingsplace%20Dr%2C%20Katy%2C%20TX%2077494!5e0!3m2!1sen!2sus!4v1592341343986!5m2!1sen!2sus" width="326" height="225" frameborder="0"></iframe></p>
    <p style="color: #000000;">
        <strong>Main Office:</strong><br>
        Phone 1:&nbsp;+1 (281) 600-1412<br>
        Fax: (281) 310-5088
    </p>
    <p style="color: #000000;">
        <strong>Employers Contact:</strong><br>
        Email:&nbsp;<a href="mailto:Sales@TeamTrident.com">Sales@TeamTrident.com</a>
    </p>
    <p style="color: #000000;">
        <strong>Candidates Contact:</strong><br>
        Email:&nbsp;<a href="mailto:Jobs@TeamTrident.com">Jobs@TeamTrident.com</a>
    </p>

</div>
