@{
    ViewData["Title"] = "Home";
}

<article class="intro">
    <div class="intro-holder">
        <h1>Team Trident – The Team You Trust</h1>
        <h3><em>Providing competent, skilled personnel to the offshore, subsea construction industry since 2006.</em></h3>
        <p>Established in Houston, Texas in 2006, Team Trident exists to consistently provide our clients in the offshore, subsea construction industry the most competent, skilled personnel available. Every project requires reliable equipment and competent people; we are the “competent people” side of that equation!! Trust the company that consistently provides competent offshore personnel.</p>
        <h2 style="text-align: center;">Accolades</h2>
        <p style="text-align: center;">&nbsp;&nbsp;<a title="Aggie 100" href="http://www.bizjournals.com/houston/news/2013/10/25/see-which-houston-area-companies-made.html?page=all" target="_blank"><img class="alignnone size-full wp-image-138" src="/wp-content/uploads/2014/03/aggie-logo.png" alt="aggie-logo" width="110" height="110" srcset="https://www.teamtrident.com/wp-content/uploads/2014/03/aggie-logo.png 110w, https://www.teamtrident.com/wp-content/uploads/2014/03/aggie-logo-50x50.png 50w" sizes="(max-width: 110px) 100vw, 110px"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a title="Fast 100" href="http://www.bizjournals.com/houston/blog/2013/08/houston-staffing-firms-grows-by.html" target="_blank"><img class="alignnone size-full wp-image-139" src="/wp-content/uploads/2014/03/fast-100.png" alt="fast-100" width="110" height="110" srcset="https://www.teamtrident.com/wp-content/uploads/2014/03/fast-100.png 110w, https://www.teamtrident.com/wp-content/uploads/2014/03/fast-100-50x50.png 50w" sizes="(max-width: 110px) 100vw, 110px"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a title="Inc. 500" href="http://www.inc.com/welcome.html?destination=http://www.inc.com/profile/team-trident" target="_blank"><img class="alignnone size-full wp-image-140" src="/wp-content/uploads/2014/03/inc-500.png" alt="inc-500" width="110" height="110" srcset="https://www.teamtrident.com/wp-content/uploads/2014/03/inc-500.png 110w, https://www.teamtrident.com/wp-content/uploads/2014/03/inc-500-50x50.png 50w" sizes="(max-width: 110px) 100vw, 110px"></a></p>
    </div>
</article>
<section class="three-columns">
    <article class="column">
        <a href="https://www.teamtrident.com/internal-staff/"><img width="289" height="162" src="https://www.teamtrident.com/wp-content/uploads/2022/06/Office-Staff-Website-289x162.jpg" class="attachment-related-page-thumbnail size-related-page-thumbnail wp-post-image" alt="Office Staff - Website" srcset="https://www.teamtrident.com/wp-content/uploads/2022/06/Office-Staff-Website-289x162.jpg 289w, https://www.teamtrident.com/wp-content/uploads/2022/06/Office-Staff-Website-155x86.jpg 155w" sizes="(max-width: 289px) 100vw, 289px">                </a><div class="post-holder">
            <a href="https://www.teamtrident.com/internal-staff/">
                <h2>Our Support Staff</h2>
            </a>
            <a href="https://www.teamtrident.com/internal-staff/" class="btn-more">Read More...</a>
        </div>
    </article>
    <article class="column">
        <a href="https://www.teamtrident.com/our-values/"><img width="289" height="162" src="https://www.teamtrident.com/wp-content/uploads/2022/06/Austin-Heller-289x162.jpg" class="attachment-related-page-thumbnail size-related-page-thumbnail wp-post-image" alt="Austin Heller" srcset="https://www.teamtrident.com/wp-content/uploads/2022/06/Austin-Heller-289x162.jpg 289w, https://www.teamtrident.com/wp-content/uploads/2022/06/Austin-Heller-155x86.jpg 155w" sizes="(max-width: 289px) 100vw, 289px">                </a><div class="post-holder">
            <a href="https://www.teamtrident.com/our-values/">
                <h2>Our Values</h2>
            </a>
            <a href="https://www.teamtrident.com/our-values/" class="btn-more">Read More...</a>
        </div>
    </article>
    <article class="column">
        <a href="https://www.teamtrident.com/our-affiliations-2/"><img width="289" height="162" src="https://www.teamtrident.com/wp-content/uploads/2022/12/Brandon-Ward-289x162.jpg" class="attachment-related-page-thumbnail size-related-page-thumbnail wp-post-image" alt="" srcset="https://www.teamtrident.com/wp-content/uploads/2022/12/Brandon-Ward-289x162.jpg 289w, https://www.teamtrident.com/wp-content/uploads/2022/12/Brandon-Ward-155x86.jpg 155w" sizes="(max-width: 289px) 100vw, 289px">                </a><div class="post-holder">
            <a href="https://www.teamtrident.com/our-affiliations-2/">
                <h2>FAQ</h2>
            </a>
            <a href="https://www.teamtrident.com/our-affiliations-2/" class="btn-more">Read More...</a>
        </div>
    </article>

</section>
