<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Link</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="max-width: 600px; margin: 0 auto;">
        <h2 style="text-align: center; color: #333;">Registration Link</h2>
        <p>Hello {{Recipient_Name}},</p>
        <p>We're thrilled to invite you to join Team Trident! Please click the button below to complete your registration:</p>
        <div style="text-align: center; margin-bottom: 20px;">
            <a href="{{Registration_Link}}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: underline; padding: 10px 20px; border-radius: 5px;">Complete Registration</a>
        </div>
        <p>If the above button does not work, you can copy and paste the following URL into your browser's address bar:</p>
        <p>{{Registration_Link}}</p>
        <p>If you have any questions or encounter any issues during the registration process, feel free to reach out to our support team at <a href="mailto:Sales@TeamTrident.com" style="color: #007bff; text-decoration: none;">Sales@TeamTrident.com</a>.</p>
        <p>We're excited to have you on board!</p>
        <p>Best regards,<br>Trident Admin<br>Team Trident</p>
    </div>

</body>
</html>
